POST /move HTTP/1.1
Host: your-api.com

{
    "<span class="text-danger">game</span>": {                  <i class="text-muted">// Object - game data</i>
        "<span class="text-danger">id</span>": uuid             <i class="text-muted">// Unified unique ID of the game</i>
    },
    "<span class="text-danger">player</span>": {                <i class="text-muted">// Object - player data</i>
        "<span class="text-danger">id</span>": uuid,            <i class="text-muted">// Unified unique ID of the player</i>
        "<span class="text-danger">name</span>": string,        <i class="text-muted">// The name of the player</i>
        "<span class="text-danger">position</span>": {          <i class="text-muted">// Object - current position of the player</i>
            "<span class="text-danger">y</span>": int,
            "<span class="text-danger">x</span>": int
        },
        "<span class="text-danger">previous</span>": {          <i class="text-muted">// Object - previous positions of the player</i>
            "<span class="text-danger">y</span>": int,
            "<span class="text-danger">x</span>": int
        },
        "<span class="text-danger">area</span>": {              <i class="text-muted">// Object - visible area for the player</i>
            "<span class="text-danger">y1</span>": int,
            "<span class="text-danger">x1</span>": int,
            "<span class="text-danger">y2</span>": int,
            "<span class="text-danger">x2</span>": int
        },
        "<span class="text-danger">fire </span>": "bool"        <i class="text-muted">// If the player can fire this round</i>
    },
    "<span class="text-danger">board</span>": {                 <i class="text-muted">// Object - board data</i>
        "<span class="text-danger">size</span>": {              <i class="text-muted">// Object - Total size of the maze</i>
            "<span class="text-danger">height</span>": int,
            "<span class="text-danger">width</span>": int
        },
        "<span class="text-danger">walls</span>": [             <i class="text-muted">// Array - visible walls</i>
            {                  <i class="text-muted">// Object - wall position</i>
                "<span class="text-danger">y</span>": int,
                "<span class="text-danger">x</span>": int
            },
        ]
    },
    "<span class="text-danger">players</span>":                 <i class="text-muted">// Array - other players positions</i>
        {                      <i class="text-muted">// Object - other players position</i>
            "<span class="text-danger">y</span>": int,
            "<span class="text-danger">x</span>": int
        }
    ],
    "<span class="text-danger">invaders</span>": [              <i class="text-muted">// Array - invaders positions</i>
        {                      <i class="text-muted">// Object - invader position</i>
            "<span class="text-danger">y</span>": int,
            "<span class="text-danger">x</span>": int,
            "<span class="text-danger">neutral</span>": "bool"  <i class="text-muted">// If the invader can be killed by touching</i>
        }
    ]
}
