POST /move HTTP/1.1
Host: your-api.com

{
    "<span class="text-danger">game</span>": {
        "<span class="text-danger">id</span>": "<span class="text-success">78df6fe1-4ba4-408a-ab99-b7122967214f</span>"
    },
    "<span class="text-danger">player</span>": {
        "<span class="text-danger">id</span>": "<span class="text-success">78df6fe1-4ba4-408a-ab99-b7122967214f</span>",
        "<span class="text-danger">name</span>": "<span class="text-success">Test player</span>",
        "<span class="text-danger">position</span>": {
            "<span class="text-danger">y</span>": 3,
            "<span class="text-danger">x</span>": 4
        },
        "<span class="text-danger">previous</span>": {
            "<span class="text-danger">y</span>": 2,
            "<span class="text-danger">x</span>": 4
        },
        "<span class="text-danger">area</span>": {
            "<span class="text-danger">y1</span>": 0,
            "<span class="text-danger">x1</span>": 0,
            "<span class="text-danger">y2</span>": 8,
            "<span class="text-danger">x2</span>": 9
        },
        "<span class="text-danger">fire</span>": false
    },
    "<span class="text-danger">board</span>": {
        "<span class="text-danger">size</span>": {
            "<span class="text-danger">height</span>": 15,
            "<span class="text-danger">width</span>": 15
        },
        "<span class="text-danger">walls</span>": [ {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 1
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 2
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 3
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 4
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 5
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 6
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 7
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 8
        }, {
            "<span class="text-danger">y</span>": 0,
            "<span class="text-danger">x</span>": 9
        }, {
            "<span class="text-danger">y</span>": 1,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 2,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 3,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 4,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 1
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 2
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 3
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 4
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 5
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 6
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 7
        }, {
            "<span class="text-danger">y</span>": 5,
            "<span class="text-danger">x</span>": 9
        }, {
            "<span class="text-danger">y</span>": 6,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 6,
            "<span class="text-danger">x</span>": 4
        }, {
            "<span class="text-danger">y</span>": 7,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 8,
            "<span class="text-danger">x</span>": 0
        }, {
            "<span class="text-danger">y</span>": 8,
            "<span class="text-danger">x</span>": 4
        } ]
    },
    "<span class="text-danger">players</span>": [ {
        "<span class="text-danger">y</span>": 1,
        "<span class="text-danger">x</span>": 1
    } ],
    "<span class="text-danger">invaders</span>": [ {
        "<span class="text-danger">y</span>": 2,
        "<span class="text-danger">x</span>": 2,
        "<span class="text-danger">neutral</span>": false
    }, {
        "<span class="text-danger">y</span>": 8,
        "<span class="text-danger">x</span>": 3,
        "<span class="text-danger">neutral</span>": true
    } ]
}