body {
    padding-top: 50px;
}

/**********************************************************************************************************************/

.bg-primary small {
    color: #CCCCCC;
}

.bg-primary a {
    color: #FFFFFF;
}

.bg-primary a:hover {
    color: #CCCCCC;
}

/**********************************************************************************************************************/

footer .text-footer-right {
    text-align: right;
}

@media (max-width: 767px) {
    footer .text-footer-right {
        text-align: left;
    }
}

/**********************************************************************************************************************/

textarea {
    resize: none;
}

/**********************************************************************************************************************/

.maze-buttons {
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.panel-list-striped > div:nth-of-type(even) {
    background-color: #f0f0f0 !important;
}

/**********************************************************************************************************************/

.image-players {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

/**********************************************************************************************************************/

.panel-body-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

/**********************************************************************************************************************/

.padding-xs {
    padding: .25em;
}

.padding-sm {
    padding: .5em;
}

.padding-md {
    padding: 1em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-xl {
    padding: 3em;
}
